/* Start Common Style */
*{
    margin: 0;
    padding:0;
    font-family: "Fira Sans", serif;;
}
body{
    padding: 0 160px;
    background-color: #F1F1F3;
}
.primary-btn{
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    border: none;
}
.section-heading{
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
}
.section-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.card-title{
    font-weight: 700;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}
.vision-item{
    padding: 30px;
    border-radius: 16px;
}
.card-btn{
    padding: 11px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    color: #ffffff;
}

/* End Common Style */

/* Start Navbar Style */

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}
.navbar h3{
    font-weight: 700;
    font-size: 32px;
    color:#0E0E0E;
}
.navbar button{
    padding: 15px 30px;
    border-radius: 8px;
    color:#006A50;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #006A50;
}

/* End Navbar Style */

/* Start Hero Section Style */

.header{
    background-color: #C6E4D6;
    padding: 80px;
    border-radius: 24px;
    display: flex;
    gap: 200px;
}
.header-content{
    margin: 117px 0;
}
.header-content h3{
    font-weight: 600;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.header-content h1{
    font-weight: 700;
    font-size: 56px;
    color: #0E0E0E;
    max-width: 615px;
    margin: 16px 0 24px 0;
}
.header-banner{
    margin: 80px 0;
}

/* End Hero Section Style */

/* start The Vision Of Future Section Style */

.future-vision{
    margin: 80px 0;
}
.future-vision h2{
    margin-bottom: 24px;
}
.vision-items{
    display: flex;
    gap: 24px;
    margin: 32px 0;
}
.vision-item img,h4,p{
    margin-bottom: 24px;
}
.blue{
    background-color: rgba(84, 144, 245, 0.2);
}
.blue button{
    background-color: #5490F5;
}
.green{
    background-color: #C6E4D6;
}
.green button{
    background-color: #09A15C;
}
.light{
    background-color: #F7EBCF;
}
.light button{
    background-color: #FFC239;
}
.vision-content{
    background-color: #ffffff;
    padding: 48px 24px;
    border-radius: 16px;
}
.content-raper{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
}
.vision-content h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 5px;
}
.vision-content h6{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.6);
}